<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to WDI 7</title>
  <link href="/css/clean-blog.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>

<h1>Web Development Immersive<h1>

</header>
  
</body>
</html>