<form action="/calculator" method="POST">
  <h1>Welcome to Alan's Calculator!</h1>
  <p>
    <label for="first_number">First Number</label>
    <input type="field" name="first_number" id="first_number">
  </p>
  <p>
    <label for="operator" name="operator" id="operator">Operator</label>
    <select>
      <option value="Minus">Minus</option>
      <option value="Add">Add</option>
      <option value="Times">Times</option>
      <option value-"Divide">Divide</option>
    </select>
  </p>
  <p>
    <label for="second_number">Second Number</label>
    <input type="field" name="second_number" id="second_number">
  </p>
  <input type="submit">
</form>
