<form action="/buy-product" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden" name="price" value="12.50">
  <input type="hidden" name="qty" value="3">
  <input type"email" name="email" id="email" placeholder="lol">
  <input type="submit" value="Buy Now!">
  <input type="color">

  <hr>

  <label>Car features</label><br>
  <input type="checkbox" id="heated seats"name="features[]">
  <label for="heated seats">Heated features</label><br>
  <input type="checkbox" name="features[]">
  <label>Heated features</label><br>
  <input type="checkbox" name="features[]">
  <label>Heated features</label><br>
  <input type="checkbox" name="features[]">
  <label>Heated features</label><br>
  <input type="checkbox" name="features[]">
  <label>Heated features</label><br>
  <input type="checkbox" name="features[]">
  <label>Heated features</label>

  <label for="Countries">Country</label>
  <select id="Countries" name="country">
    <option value="AU">Australia</option>
    <option value="AU">Australia</option>
    <option value="AU">Australia</option>
    <option value="AU" selected>tralia</option>
    <option value="AU">Australia</option>
  </select>
</form>